<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:method="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Admin - Poderossa</title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      th:href="@{/common/img/logo_poderossa_white.png}"
    />
    <!-- Custom CSS -->
    <link th:href="@{/admin/css/style.min.css}" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin5"
      data-sidebartype="full"
      data-sidebar-position="absolute"
      data-header-position="absolute"
      data-boxed-layout="full"
    >
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <div th:replace="/admin/common/header :: header"></div>
      <!-- ============================================================== -->
      <!-- End Topbar header -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <div th:replace="/admin/common/left-side :: left-side"></div>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Posts / 投稿</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary mb-1" th:href="@{/admin/createpost}">Crear Post / 投稿作成</a>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-0">Recent Posts</h4>
                </div>
                <div class="comment-widgets scrollable">
                  <!-- Comment Row -->
<!--                  <div th:each = "post : ${posts}">-->
                    <div th:each = "post : ${posts}" class="d-flex flex-row comment-row mt-0" th:style="${post.pinned ? 'background:#C3A492' : 'background:#FFF'}">
                      <div class="p-2">
<!--                        src="../admin/assets/images/users/1.jpg"-->
                        <img

                                th:src="${post.writerPhoto}"
                                alt="user"
                                width="50"
                                class="rounded-circle mb-5"
                        />
                        <img
                                th:if="${post.status}"
                                th:src="@{/common/img/live.png}"
                                alt="live"
                                class="mb-5 row"
                                width="50"
                        />
                      </div>
                      <div class="comment-text w-100">
                        <h5 class="font-medium" th:text="${post.name}">James Anderson</h5>
                        <span th:class="${post.pinned ? 'mb-1 d-lg-none d-xl-block text-white bg-dark' : 'mb-1 d-lg-none d-xl-block text-success'}"
                              th:text="|${post.updateFecha} ${post.updateTime}|"></span>
                        <span class="mb-3 d-block"
                         th:text="${post.title} ne '' ? ${post.title} : 'no hay titulo / タイトル無し'">Lorem Ipsum is simply dummy text of the printing and
                        type setting industry.
                      </span>
                        <div class="comment-footer mb-3">
                          <span class="text-muted float-end d-none d-lg-block d-xl-none" th:text="${post.updateFecha}" th:style="${post.pinned ? 'color:#FFF !important' : 'color:#a1aab2'}">2022-05-15</span>
                          <a class="btn btn-cyan btn-md text-white" th:href="@{/admin/editpost/{postId}(postId=${post.postId})}">Editar/編集</a>
                          <a class="btn btn-danger btn-md text-white" th:href="@{/admin/delete/{postId}(postId=${post.postId})}">Borrar/削除</a>
                        </div>
                        <div class="comment-footer">
                          <span class="text-muted float-end d-none d-lg-block d-xl-none" th:text="${post.updateTime}" th:style="${post.pinned ? 'color:#FFF !important' : 'color:#a1aab2'}">22:45:33</span>
                          <a class="btn btn-info btn-md text-white" th:text="${post.pinned} ? 'Desanclar/固定外す' : 'Anclar/固定'"
                             th:href="@{/admin/pin/{postId}/{ancla}(postId=${post.postId}, ancla=${post.pinned} ? false : true)}">Anclar/固定</a>
                          <a class="btn btn-success btn-md text-white" th:text="${post.status} ? 'Despublicar/非公開' : 'Publicar/公開'"
                             th:href="@{/admin/publish/{postId}/{publicar}(postId=${post.postId}, publicar=${post.status} ? false : true)}">Publicar/公開</a>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-0">Browser statistics</h5>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Browser</th>
                      <th scope="col">Visits</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Chrome</td>
                      <td>8850</td>
                    </tr>
                    <tr>
                      <td>Firefox</td>
                      <td>1200</td>
                    </tr>
                    <tr>
                      <td>Internet Explorer</td>
                      <td>1540</td>
                    </tr>
                    <tr>
                      <td>Opera</td>
                      <td>1230</td>
                    </tr>
                    <tr>
                      <td>Safari</td>
                      <td>1590</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-0">Website statistics</h5>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Site</th>
                      <th scope="col">Visits</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="#" class="link">Themeforest.com</a></td>
                      <td>1240</td>
                    </tr>
                    <tr>
                      <td><a href="#" class="link">Themedesigner.in</a></td>
                      <td>1200</td>
                    </tr>
                    <tr>
                      <td><a href="#" class="link">Themedesigner.in</a></td>
                      <td>1542</td>
                    </tr>
                    <tr>
                      <td><a href="#" class="link">Themedesigner.in</a></td>
                      <td>1230</td>
                    </tr>
                    <tr>
                      <td><a href="#" class="link">Themedesigner.in</a></td>
                      <td>1542</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-0">Visited Pages</h5>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Page</th>
                      <th scope="col">Visits</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="#" class="link">Freebies</a></td>
                      <td>1240</td>
                    </tr>
                    <tr>
                      <td><a href="#" class="link">Blog</a></td>
                      <td>1200</td>
                    </tr>
                    <tr>
                      <td><a href="#" class="link">Work</a></td>
                      <td>1542</td>
                    </tr>
                    <tr>
                      <td><a href="#" class="link">Site Template</a></td>
                      <td>1230</td>
                    </tr>
                    <tr>
                      <td><a href="#" class="link">All categories</a></td>
                      <td>1542</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Right sidebar -->
          <!-- ============================================================== -->
          <!-- .right-sidebar -->
          <!-- ============================================================== -->
          <!-- End Right sidebar -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
          All Rights Reserved by Poderossa.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/admin/assets/libs/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/admin/assets/extra-libs/sparkline/sparkline.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/admin/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/admin/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/admin/js/custom.min.js}"></script>
  </body>
</html>
